@import "./resets";

// HEADER STARTS
header {
  height: 625px;
  position: relative;
  background: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;

  .layout {
    background: linear-gradient(to right, #17d396, #07f7f7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }

  .headerContext {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 10%;

    nav {
      width: 100%;
      height: 60px;
      margin: auto;
      transition: all 0.3s linear;

      * {
        color: #fff;
      }

      .navWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;

        .left,
        .right {
          width: 30%;
        }

        .left {
          a {
            margin-right: 15px;

            &[href*="facebook"]::after {
              content: "\f39e";
              font-family: fontawesome;
              display: inline;
              font-size: 1.5rem;
              color: #fff;
            }
            &[href*="twitter"]::after {
              content: "\f099";
              font-family: fontawesome;
              display: inline;
              font-size: 1.5rem;
              color: #fff;
            }
            &[href*="instagram"]::after {
              content: "\f16d";
              font-family: fontawesome;
              display: inline;
              font-size: 1.5rem;
              color: #fff;
            }
            &[href*="linkedin"]::after {
              content: "\f0e1";
              font-family: fontawesome;
              display: inline;
              font-size: 1.5rem;
              color: #fff;
            }
          }
        }

        .right {
          span::after {
            content: "\f0c9";
            font-family: fontawesome;
            display: inline;
            cursor: pointer;
            float: right;
            font-size: 2rem;
          }
        }
      }

      &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #17d396;
        // display: block;
        height: 60px;
        z-index: 5;

        .navWrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 10%;
        }
      }
    }

    .bottomText {
      width: 80%;
      margin: auto;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        font-size: 6rem;
      }
      h3 {
        font-size: 5rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }

  .headerMenu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.9);
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 50px 0;
    // display: none;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.3s ease 0s;

    .exit {
      text-align: end;

      span::after {
        content: "\f00d";
        font-family: fontawesome;
        color: #fff;
        cursor: pointer;
        font-size: 3rem;
        position: relative;
        right: 5%;
      }
    }

    ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      li {
        text-align: center;
        margin-bottom: 20px;
        a {
          color: #fff;
          font-size: 1.5rem;
          transition: all 0.3s linear;

          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  header {
    .headerContext {
      .bottomText {
        h1 {
          font-size: 5rem;
        }
        h3 {
          font-size: 4rem;
        }
        p {
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .headerContext {
      .bottomText {
        h1 {
          font-size: 4rem;
        }
        h3 {
          font-size: 3rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 637px) {
  header {
    .headerContext {
      .navWrapper {
        .left {
          width: 40% !important;
        }
      }
    }
  }
}
// HEADER ENDS

// SCROLL TO TOP STARTS
.scroll-to-top {
  position: fixed;
  bottom: 2%;
  right: 4%;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: $main-color;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s linear;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &::after {
      content: "\f077";
      font-family: fontawesome;
      color: #fff;
      font-size: 1.5rem;
      line-height: 50px;
    }
  }
  .tooltiptext {
    opacity: 0;
    width: 83px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 60px;
    left: 85%;
    margin-left: -60px;
    font-size: 0.8rem;
    transition: all 0.3s linear;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  &.active {
    opacity: 1;
    bottom: 4%;
  }

  &:hover .tooltiptext {
    opacity: 1;
  }
}
// SCROLL TO TOP ENDS

// ABOUT SECTION STARTS
#about {
  background-color: #22252c;
  padding: 100px 0;
  .imgHolder {
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 50px;

    &::after {
      content: "";
      display: block;
      border: 5px solid #00f298;
      height: 400px;
      width: 400px;
      position: absolute;
      top: -40px;
      left: 50px;
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: 2;
    }
  }

  .btnDownload {
    color: #fff;
    display: inline-block;
    position: relative;
    left: 90px;
    font-size: 1rem;
    background: linear-gradient(to right, #17d396, $main-color);
    box-shadow: 0 0 20px rgb(22 213 156 / 70%);
    padding: 15px;
    margin: 20px 0 100px 0;
    transition: all 0.3s linear;

    span::after {
      content: "\f381";
      font-family: fontawesome;
      margin-right: 5px;
    }

    &:hover {
      background: linear-gradient(to right, #06f6e6, #01f3aa);
      box-shadow: 0 2px 20px rgb(22 213 144 / 80%);
      color: #22252c;
    }
  }

  .about-context {
    h2 {
      @include textBackground();
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      color: #fff;
      margin-bottom: 20px;
    }
    li {
      color: #fff;
      margin-bottom: 10px;

      span {
        color: #17d396;
        font-weight: bold;
        margin-right: 15px;
        letter-spacing: 1px;
      }
    }
  }

  .interests {
    h2 {
      @include textBackground();
      font-weight: bold;
      margin-bottom: 30px;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      width: 60%;

      .interest-item {
        text-align: center;
        overflow: hidden;

        span {
          &::after {
            content: "\f1e3";
            font-family: fontawesome;
            color: $main-color;
            font-size: 3rem;
            padding: 22px;
            border: 1px solid $main-color;
            border-radius: 100%;
            position: relative;
            top: 11px;
          }
          &.biking::after {
            content: "\f84a";
            padding: 20px 17px;
          }
          &.game::after {
            content: "\f11b";
            padding: 20px 17px;
          }
          &.music::after {
            content: "\f001";
            padding: 20px 21px;
          }

          &:hover + p {
            top: 5px;
            opacity: 1;
          }
          &:hover::after {
            background-color: $main-color;
            color: #fff;
          }
        }

        p {
          color: #fff;
          margin-top: 10px;
          margin-bottom: 0;
          position: relative;
          top: 10px;
          opacity: 0;
          transition: all 0.3s;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #about {
    .about-context {
      margin-bottom: 100px;
    }
    .interests {
      .wrapper {
        width: 70%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #about {
    .interests {
      .wrapper {
        width: 90%;
      }
    }
  }
}
// ABOUT SECTION ENDS

// EDUCATION STARTS
#education {
  background-color: #313741;
  padding: 100px 0;

  .section-title {
    margin-bottom: 100px;
    h2 {
      @include textBackground();
      font-weight: bold;
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 150px;
    }
  }

  .wrapper {
    position: relative;
    &::before {
      content: "\f501";
      font-family: fontawesome;
      display: inline-block;
      color: $main-color;
      border: 1px solid $main-color;
      border-radius: 100%;
      height: 70px;
      width: 70px;
      font-size: 2rem;
      padding: 20px;
      position: absolute;
      left: 46.6%;
      top: -70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .education-left {
      padding: 100px 0 50px 0;
      display: flex;
      margin-right: 93px;

      .text {
        margin-right: 50px;
        text-align: end;

        h2 {
          @include textBackground();
          font-weight: bold;
          font-size: 1.5rem;
        }
        p {
          color: #fff;
          margin-bottom: 120px;
        }
      }
      .education-border {
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          border-right: 5px solid $main-color;
          height: 90%;
          position: absolute;
          right: -9px;
          bottom: 180px;
        }

        span {
          &::after {
            content: "\f192";
            font-family: fontawesome;
            color: $main-color;
            display: block;
            margin-bottom: 145px;
            position: relative;
            left: 67%;
            top: -5px;
            z-index: 2;
            font-size: 2.3rem;
          }

          &:nth-child(4)::after {
            content: "\f057";
            top: 11px;
          }
        }
      }
    }
    .education-right {
      padding: 100px 0 50px 0;
      position: relative;
      right: 15px;

      p {
        color: #fff;
        margin-bottom: 160px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #education {
    .wrapper {
      .education-border {
        &::before {
          right: -30px !important;
        }
        span::after {
          left: 124% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #education {
    overflow-x: hidden;
    .section-title {
      h2 {
        font-size: 2.5rem;
      }
    }
    .wrapper {
      &::before {
        left: 0;
      }

      .education-left {
        flex-direction: row-reverse;

        .education-border {
          &::before {
            right: 3% !important;
          }

          span::after {
            left: 40% !important;
          }
        }

        .text {
          text-align: start;
          margin-left: 50px;
        }
      }
      .education-right {
        position: absolute;
        top: 5.3rem;
        left: 87px;
        right: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #education {
    .wrapper {
      .education-left {
        .education-border {
          &::before {
            bottom: 197px !important;
            height: 89% !important;
          }
          span::after {
            margin-bottom: 165px !important;
          }
        }
      }
      .education-right {
        top: 7rem;
        p:nth-child(2) {
          margin-bottom: 175px !important;
        }
      }
    }
  }
}
// EDUCATION ENDS

// SKILLS SECTION STARTS
#skills {
  background-color: #22252c;
  padding: 100px 0;
  overflow-x: hidden;

  .section-title {
    h1 {
      @include textBackground();
      text-align: center;
      font-weight: bold;
      margin-bottom: 100px;
      text-transform: uppercase;
    }
  }
  .wrapper {
    background-color: $secondary-background-color;
    padding: 50px 0;

    .skills-item {
      width: 80%;
      margin-bottom: 30px;
      h5 {
        color: #fff;
        padding: 5px 0;
        border-bottom: 7px solid #000;
      }

      .count-bar {
        border-top: 7px solid $main-color;
        position: relative;
        bottom: 15px;

        &::after {
          content: "";
          display: inline-block;
          width: 15px;
          height: 15px;
          background-color: #07f7f7;
          border-radius: 50%;
          position: absolute;
          right: -1%;
          bottom: -4px;
        }

        &.bar1 {
          width: 90%;

          &::before {
            @include barPercentage("90%");
          }
        }

        &.bar2 {
          width: 85%;

          &::before {
            @include barPercentage("85%");
          }
        }

        &.bar3 {
          width: 75%;

          &::before {
            @include barPercentage("75%");
          }
        }

        &.bar4 {
          width: 85%;

          &::before {
            @include barPercentage("85%");
          }
        }

        &.bar5 {
          width: 75%;

          &::before {
            @include barPercentage("75%");
          }
        }

        &.bar6 {
          width: 70%;

          &::before {
            @include barPercentage("70%");
          }
        }

        &.bar7 {
          width: 60%;

          &::before {
            @include barPercentage("60%");
          }
        }

        &.bar8 {
          width: 15%;

          &::before {
            content: "15%";
            display: inline-block;
            color: #fff;
            position: absolute;
            right: -20px;
            top: 5px;
          }
        }

        &.bar9 {
          width: 40%;

          &::before {
            @include barPercentage("40%");
          }
        }
      }
    }
  }
}
// SKILLS SECTION ENDS

// PROJECTS SECTION STARTS
#projects {
  background-color: $main-background-color;
  padding: 100px 0;
  overflow-x: hidden;

  .section-title {
    h1 {
      @include textBackground();
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 80px;
    }
  }

  .wrapper {
    background-color: $secondary-background-color;
    padding: 100px 0;

    .projects-item {
      position: relative;
      bottom: 0;
      transition: all 0.3s linear;

      a {
        display: inline-block;
        height: 400px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          box-shadow: 0 0 20px rgba($color: #fff, $alpha: 0.5);
          transition: all 0.3s linear;
        }
      }
      h5 {
        text-align: center;
        color: $main-color;
        margin-top: 30px;
      }

      &:hover {
        bottom: 10px;
      }
      &:hover img {
        box-shadow: 0 5px 20px rgba($color: #fff, $alpha: 0.5);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #projects {
    .section-title {
      h1 {
        margin-bottom: 50px;
      }
    }
  }
}
// PROJECTS SECTION ENDS

// CONTACT SECTION STARTS
#contact {
  background-color: $main-background-color;
  padding: 100px 0;
  overflow-x: hidden;

  .section-title {
    h1 {
      @include textBackground();
      font-weight: bold;
      text-align: center;
      margin-bottom: 100px;
      letter-spacing: 1px;
    }
  }
}

#contact {
  form {
    .div1,
    .div2 {
      width: 49%;
      position: relative;
      display: inline-block;

      input {
        width: 96%;
        display: inline-block;
        margin-right: 4%;
        margin-bottom: 40px;

        & ~ span {
          display: inline-block;
          color: #58616d;
          position: absolute;
          left: 0;
          top: 5px;
          transition: all 0.3s linear;
          z-index: 1;
        }
      }
    }
    .div3 {
      width: 100%;
      position: relative;

      textarea {
        width: 100%;

        & ~ span {
          display: inline-block;
          color: #58616d;
          position: absolute;
          left: 0;
          top: 5px;
          transition: all 0.3s linear;
          z-index: 1;
        }
      }
    }
    input,
    textarea {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #58616d;
      color: #58616d;
      outline: none;
      padding: 5px;
      position: relative;
      z-index: 2;
    }
  }

  .btnSend {
    color: $main-color;
    border: 1px solid $main-color;
    padding: 20px 50px;
    border-radius: 0;
    font-size: 0.9rem;
    margin: 50px auto;
    width: 20%;
    transition: all 0.3s linear;
    text-align: center;
    display: block;
    box-shadow: 0 0 0px;
    font-weight: bold;

    &:hover {
      color: #000;
      background-color: $main-color;
      box-shadow: 0 0 20px rgba($color: #fff, $alpha: 0.3);
    }
  }
}
@media screen and (max-width: 992px) {
  #contact {
    #contact-form {
      .btnSend {
        width: 30%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #contact {
    .section-title {
      h1 {
        font-size: 2rem;
      }
    }

    #contact-form {
      .div1,
      .div2 {
        width: 100%;
      }
      .btnSend {
        width: 45%;
      }
    }
  }
}
// CONTACT SECTION ENDS

// FOOTER STARTS
footer {
  background-color: $main-background-color;
  padding: 80px 0 50px 0;
  .footer-social-links {
    display: flex;
    justify-content: center;
    a {
      color: $main-color;
      margin-right: 20px;
      span {
        &::after {
          content: "";
          font-family: fontawesome;
          font-size: 1.5rem;
          border-radius: 50%;
          background-color: $secondary-background-color;
          padding: 15px;
          transition: all 0.3s linear;
        }
        &.facebook::after {
          content: "\f39e";
          padding: 15px 19px;
        }
        &.twitter::after {
          content: "\f099";
        }
        &.instagram::after {
          content: "\f16d";
        }
        &.linkedin::after {
          content: "\f0e1";
        }

        &:hover::after {
          background-color: $main-color;
          color: #000;
        }
      }
    }
  }

  hr {
    border-color: #58616d;
    margin: 80px 0 50px 0;
  }

  .copyright-area {
    p {
      color: $main-color;
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    .copyright-area {
      p {
        font-size: 0.9rem;
      }
    }
  }
}
// FOOTER ENDS
