*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #555;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.86, #07f7f7), color-stop(0.72, #00f298));
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2a2a2a;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}
#loader img {
  width: 100px;
  height: 100px;
}

header {
  height: 625px;
  position: relative;
  background: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}
header .layout {
  background: linear-gradient(to right, #17d396, #07f7f7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
header .headerContext {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 10%;
}
header .headerContext nav {
  width: 100%;
  height: 60px;
  margin: auto;
  transition: all 0.3s linear;
}
header .headerContext nav * {
  color: #fff;
}
header .headerContext nav .navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
header .headerContext nav .navWrapper .left,
header .headerContext nav .navWrapper .right {
  width: 30%;
}
header .headerContext nav .navWrapper .left a {
  margin-right: 15px;
}
header .headerContext nav .navWrapper .left a[href*=facebook]::after {
  content: "\f39e";
  font-family: fontawesome;
  display: inline;
  font-size: 1.5rem;
  color: #fff;
}
header .headerContext nav .navWrapper .left a[href*=twitter]::after {
  content: "\f099";
  font-family: fontawesome;
  display: inline;
  font-size: 1.5rem;
  color: #fff;
}
header .headerContext nav .navWrapper .left a[href*=instagram]::after {
  content: "\f16d";
  font-family: fontawesome;
  display: inline;
  font-size: 1.5rem;
  color: #fff;
}
header .headerContext nav .navWrapper .left a[href*=linkedin]::after {
  content: "\f0e1";
  font-family: fontawesome;
  display: inline;
  font-size: 1.5rem;
  color: #fff;
}
header .headerContext nav .navWrapper .right span::after {
  content: "\f0c9";
  font-family: fontawesome;
  display: inline;
  cursor: pointer;
  float: right;
  font-size: 2rem;
}
header .headerContext nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #17d396;
  height: 60px;
  z-index: 5;
}
header .headerContext nav.sticky .navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
}
header .headerContext .bottomText {
  width: 80%;
  margin: auto;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .headerContext .bottomText h1 {
  font-size: 6rem;
}
header .headerContext .bottomText h3 {
  font-size: 5rem;
}
header .headerContext .bottomText p {
  font-size: 2rem;
}
header .headerMenu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 50px 0;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.3s ease 0s;
}
header .headerMenu .exit {
  text-align: end;
}
header .headerMenu .exit span::after {
  content: "\f00d";
  font-family: fontawesome;
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  position: relative;
  right: 5%;
}
header .headerMenu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .headerMenu ul li {
  text-align: center;
  margin-bottom: 20px;
}
header .headerMenu ul li a {
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.3s linear;
}
header .headerMenu ul li a:hover {
  color: #07f7f7;
}

@media screen and (max-width: 992px) {
  header .headerContext .bottomText h1 {
    font-size: 5rem;
  }
  header .headerContext .bottomText h3 {
    font-size: 4rem;
  }
  header .headerContext .bottomText p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  header .headerContext .bottomText h1 {
    font-size: 4rem;
  }
  header .headerContext .bottomText h3 {
    font-size: 3rem;
  }
  header .headerContext .bottomText p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 637px) {
  header .headerContext .navWrapper .left {
    width: 40% !important;
  }
}
.scroll-to-top {
  position: fixed;
  bottom: 2%;
  right: 4%;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #07f7f7;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s linear;
  z-index: 9999;
}
.scroll-to-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.scroll-to-top a::after {
  content: "\f077";
  font-family: fontawesome;
  color: #fff;
  font-size: 1.5rem;
  line-height: 50px;
}
.scroll-to-top .tooltiptext {
  opacity: 0;
  width: 83px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 60px;
  left: 85%;
  margin-left: -60px;
  font-size: 0.8rem;
  transition: all 0.3s linear;
}
.scroll-to-top .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.scroll-to-top.active {
  opacity: 1;
  bottom: 4%;
}
.scroll-to-top:hover .tooltiptext {
  opacity: 1;
}

#about {
  background-color: #22252c;
  padding: 100px 0;
}
#about .imgHolder {
  width: 400px;
  height: 400px;
  position: relative;
  margin-top: 50px;
}
#about .imgHolder::after {
  content: "";
  display: block;
  border: 5px solid #00f298;
  height: 400px;
  width: 400px;
  position: absolute;
  top: -40px;
  left: 50px;
  z-index: 1;
}
#about .imgHolder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 2;
}
#about .btnDownload {
  color: #fff;
  display: inline-block;
  position: relative;
  left: 90px;
  font-size: 1rem;
  background: linear-gradient(to right, #17d396, #07f7f7);
  box-shadow: 0 0 20px rgba(22, 213, 156, 0.7);
  padding: 15px;
  margin: 20px 0 100px 0;
  transition: all 0.3s linear;
}
#about .btnDownload span::after {
  content: "\f381";
  font-family: fontawesome;
  margin-right: 5px;
}
#about .btnDownload:hover {
  background: linear-gradient(to right, #06f6e6, #01f3aa);
  box-shadow: 0 2px 20px rgba(22, 213, 144, 0.8);
  color: #22252c;
}
#about .about-context h2 {
  background: -webkit-linear-gradient(left, #00f298, #07f7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
#about .about-context p {
  color: #fff;
  margin-bottom: 20px;
}
#about .about-context li {
  color: #fff;
  margin-bottom: 10px;
}
#about .about-context li span {
  color: #17d396;
  font-weight: bold;
  margin-right: 15px;
  letter-spacing: 1px;
}
#about .interests h2 {
  background: -webkit-linear-gradient(left, #00f298, #07f7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-bottom: 30px;
}
#about .interests .wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
#about .interests .wrapper .interest-item {
  text-align: center;
  overflow: hidden;
}
#about .interests .wrapper .interest-item span::after {
  content: "\f1e3";
  font-family: fontawesome;
  color: #07f7f7;
  font-size: 3rem;
  padding: 22px;
  border: 1px solid #07f7f7;
  border-radius: 100%;
  position: relative;
  top: 11px;
}
#about .interests .wrapper .interest-item span.biking::after {
  content: "\f84a";
  padding: 20px 17px;
}
#about .interests .wrapper .interest-item span.game::after {
  content: "\f11b";
  padding: 20px 17px;
}
#about .interests .wrapper .interest-item span.music::after {
  content: "\f001";
  padding: 20px 21px;
}
#about .interests .wrapper .interest-item span:hover + p {
  top: 5px;
  opacity: 1;
}
#about .interests .wrapper .interest-item span:hover::after {
  background-color: #07f7f7;
  color: #fff;
}
#about .interests .wrapper .interest-item p {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  position: relative;
  top: 10px;
  opacity: 0;
  transition: all 0.3s;
  font-size: 1.5rem;
}

@media screen and (max-width: 992px) {
  #about .about-context {
    margin-bottom: 100px;
  }
  #about .interests .wrapper {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  #about .interests .wrapper {
    width: 90%;
  }
}
#education {
  background-color: #313741;
  padding: 100px 0;
}
#education .section-title {
  margin-bottom: 100px;
}
#education .section-title h2 {
  background: -webkit-linear-gradient(left, #00f298, #07f7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 150px;
}
#education .wrapper {
  position: relative;
}
#education .wrapper::before {
  content: "\f501";
  font-family: fontawesome;
  display: inline-block;
  color: #07f7f7;
  border: 1px solid #07f7f7;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  font-size: 2rem;
  padding: 20px;
  position: absolute;
  left: 46.6%;
  top: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#education .wrapper .education-left {
  padding: 100px 0 50px 0;
  display: flex;
  margin-right: 93px;
}
#education .wrapper .education-left .text {
  margin-right: 50px;
  text-align: end;
}
#education .wrapper .education-left .text h2 {
  background: -webkit-linear-gradient(left, #00f298, #07f7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1.5rem;
}
#education .wrapper .education-left .text p {
  color: #fff;
  margin-bottom: 120px;
}
#education .wrapper .education-left .education-border {
  position: relative;
}
#education .wrapper .education-left .education-border::before {
  content: "";
  display: inline-block;
  border-right: 5px solid #07f7f7;
  height: 90%;
  position: absolute;
  right: -9px;
  bottom: 180px;
}
#education .wrapper .education-left .education-border span::after {
  content: "\f192";
  font-family: fontawesome;
  color: #07f7f7;
  display: block;
  margin-bottom: 145px;
  position: relative;
  left: 67%;
  top: -5px;
  z-index: 2;
  font-size: 2.3rem;
}
#education .wrapper .education-left .education-border span:nth-child(4)::after {
  content: "\f057";
  top: 11px;
}
#education .wrapper .education-right {
  padding: 100px 0 50px 0;
  position: relative;
  right: 15px;
}
#education .wrapper .education-right p {
  color: #fff;
  margin-bottom: 160px;
}

@media screen and (max-width: 1200px) {
  #education .wrapper .education-border::before {
    right: -30px !important;
  }
  #education .wrapper .education-border span::after {
    left: 124% !important;
  }
}
@media screen and (max-width: 992px) {
  #education {
    overflow-x: hidden;
  }
  #education .section-title h2 {
    font-size: 2.5rem;
  }
  #education .wrapper::before {
    left: 0;
  }
  #education .wrapper .education-left {
    flex-direction: row-reverse;
  }
  #education .wrapper .education-left .education-border::before {
    right: 3% !important;
  }
  #education .wrapper .education-left .education-border span::after {
    left: 40% !important;
  }
  #education .wrapper .education-left .text {
    text-align: start;
    margin-left: 50px;
  }
  #education .wrapper .education-right {
    position: absolute;
    top: 5.3rem;
    left: 87px;
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  #education .wrapper .education-left .education-border::before {
    bottom: 197px !important;
    height: 89% !important;
  }
  #education .wrapper .education-left .education-border span::after {
    margin-bottom: 165px !important;
  }
  #education .wrapper .education-right {
    top: 7rem;
  }
  #education .wrapper .education-right p:nth-child(2) {
    margin-bottom: 175px !important;
  }
}
#skills {
  background-color: #22252c;
  padding: 100px 0;
  overflow-x: hidden;
}
#skills .section-title h1 {
  background: -webkit-linear-gradient(left, #00f298, #07f7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: bold;
  margin-bottom: 100px;
  text-transform: uppercase;
}
#skills .wrapper {
  background-color: #313741;
  padding: 50px 0;
}
#skills .wrapper .skills-item {
  width: 80%;
  margin-bottom: 30px;
}
#skills .wrapper .skills-item h5 {
  color: #fff;
  padding: 5px 0;
  border-bottom: 7px solid #000;
}
#skills .wrapper .skills-item .count-bar {
  border-top: 7px solid #07f7f7;
  position: relative;
  bottom: 15px;
}
#skills .wrapper .skills-item .count-bar::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #07f7f7;
  border-radius: 50%;
  position: absolute;
  right: -1%;
  bottom: -4px;
}
#skills .wrapper .skills-item .count-bar.bar1 {
  width: 90%;
}
#skills .wrapper .skills-item .count-bar.bar1::before {
  content: "90%";
  display: inline-block;
  color: #fff;
  position: absolute;
  right: -10px;
  bottom: 12px;
}
#skills .wrapper .skills-item .count-bar.bar2 {
  width: 85%;
}
#skills .wrapper .skills-item .count-bar.bar2::before {
  content: "85%";
  display: inline-block;
  color: #fff;
  position: absolute;
  right: -10px;
  bottom: 12px;
}
#skills .wrapper .skills-item .count-bar.bar3 {
  width: 75%;
}
#skills .wrapper .skills-item .count-bar.bar3::before {
  content: "75%";
  display: inline-block;
  color: #fff;
  position: absolute;
  right: -10px;
  bottom: 12px;
}
#skills .wrapper .skills-item .count-bar.bar4 {
  width: 85%;
}
#skills .wrapper .skills-item .count-bar.bar4::before {
  content: "85%";
  display: inline-block;
  color: #fff;
  position: absolute;
  right: -10px;
  bottom: 12px;
}
#skills .wrapper .skills-item .count-bar.bar5 {
  width: 75%;
}
#skills .wrapper .skills-item .count-bar.bar5::before {
  content: "75%";
  display: inline-block;
  color: #fff;
  position: absolute;
  right: -10px;
  bottom: 12px;
}
#skills .wrapper .skills-item .count-bar.bar6 {
  width: 70%;
}
#skills .wrapper .skills-item .count-bar.bar6::before {
  content: "70%";
  display: inline-block;
  color: #fff;
  position: absolute;
  right: -10px;
  bottom: 12px;
}
#skills .wrapper .skills-item .count-bar.bar7 {
  width: 60%;
}
#skills .wrapper .skills-item .count-bar.bar7::before {
  content: "60%";
  display: inline-block;
  color: #fff;
  position: absolute;
  right: -10px;
  bottom: 12px;
}
#skills .wrapper .skills-item .count-bar.bar8 {
  width: 15%;
}
#skills .wrapper .skills-item .count-bar.bar8::before {
  content: "15%";
  display: inline-block;
  color: #fff;
  position: absolute;
  right: -20px;
  top: 5px;
}
#skills .wrapper .skills-item .count-bar.bar9 {
  width: 40%;
}
#skills .wrapper .skills-item .count-bar.bar9::before {
  content: "40%";
  display: inline-block;
  color: #fff;
  position: absolute;
  right: -10px;
  bottom: 12px;
}

#projects {
  background-color: #22252c;
  padding: 100px 0;
  overflow-x: hidden;
}
#projects .section-title h1 {
  background: -webkit-linear-gradient(left, #00f298, #07f7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}
#projects .wrapper {
  background-color: #313741;
  padding: 100px 0;
}
#projects .wrapper .projects-item {
  position: relative;
  bottom: 0;
  transition: all 0.3s linear;
}
#projects .wrapper .projects-item a {
  display: inline-block;
  height: 400px;
}
#projects .wrapper .projects-item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transition: all 0.3s linear;
}
#projects .wrapper .projects-item h5 {
  text-align: center;
  color: #07f7f7;
  margin-top: 30px;
}
#projects .wrapper .projects-item:hover {
  bottom: 10px;
}
#projects .wrapper .projects-item:hover img {
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 992px) {
  #projects .section-title h1 {
    margin-bottom: 50px;
  }
}
#contact {
  background-color: #22252c;
  padding: 100px 0;
  overflow-x: hidden;
}
#contact .section-title h1 {
  background: -webkit-linear-gradient(left, #00f298, #07f7f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
  letter-spacing: 1px;
}

#contact form .div1,
#contact form .div2 {
  width: 49%;
  position: relative;
  display: inline-block;
}
#contact form .div1 input,
#contact form .div2 input {
  width: 96%;
  display: inline-block;
  margin-right: 4%;
  margin-bottom: 40px;
}
#contact form .div1 input ~ span,
#contact form .div2 input ~ span {
  display: inline-block;
  color: #58616d;
  position: absolute;
  left: 0;
  top: 5px;
  transition: all 0.3s linear;
  z-index: 1;
}
#contact form .div3 {
  width: 100%;
  position: relative;
}
#contact form .div3 textarea {
  width: 100%;
}
#contact form .div3 textarea ~ span {
  display: inline-block;
  color: #58616d;
  position: absolute;
  left: 0;
  top: 5px;
  transition: all 0.3s linear;
  z-index: 1;
}
#contact form input,
#contact form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #58616d;
  color: #58616d;
  outline: none;
  padding: 5px;
  position: relative;
  z-index: 2;
}
#contact .btnSend {
  color: #07f7f7;
  border: 1px solid #07f7f7;
  padding: 20px 50px;
  border-radius: 0;
  font-size: 0.9rem;
  margin: 50px auto;
  width: 20%;
  transition: all 0.3s linear;
  text-align: center;
  display: block;
  box-shadow: 0 0 0px;
  font-weight: bold;
}
#contact .btnSend:hover {
  color: #000;
  background-color: #07f7f7;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 992px) {
  #contact #contact-form .btnSend {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  #contact .section-title h1 {
    font-size: 2rem;
  }
  #contact #contact-form .div1,
#contact #contact-form .div2 {
    width: 100%;
  }
  #contact #contact-form .btnSend {
    width: 45%;
  }
}
footer {
  background-color: #22252c;
  padding: 80px 0 50px 0;
}
footer .footer-social-links {
  display: flex;
  justify-content: center;
}
footer .footer-social-links a {
  color: #07f7f7;
  margin-right: 20px;
}
footer .footer-social-links a span::after {
  content: "";
  font-family: fontawesome;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: #313741;
  padding: 15px;
  transition: all 0.3s linear;
}
footer .footer-social-links a span.facebook::after {
  content: "\f39e";
  padding: 15px 19px;
}
footer .footer-social-links a span.twitter::after {
  content: "\f099";
}
footer .footer-social-links a span.instagram::after {
  content: "\f16d";
}
footer .footer-social-links a span.linkedin::after {
  content: "\f0e1";
}
footer .footer-social-links a span:hover::after {
  background-color: #07f7f7;
  color: #000;
}
footer hr {
  border-color: #58616d;
  margin: 80px 0 50px 0;
}
footer .copyright-area p {
  color: #07f7f7;
  text-align: center;
}

@media screen and (max-width: 768px) {
  footer .copyright-area p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 420px) {
  body {
    overflow-x: hidden;
  }
  header .headerContext nav .navWrapper .left {
    width: 55% !important;
  }
  #about .imgHolder {
    width: 300px;
    height: 300px;
  }
  #about .imgHolder::after {
    width: 300px;
    height: 300px;
    left: 40px;
  }
  #about .interests .wrapper {
    width: 100%;
  }
  #about .interests .wrapper .interest-item span::after {
    font-size: 2.5rem;
  }
  #about .interests .wrapper .interest-item span.football::after {
    padding: 20px;
  }
  #about .interests .wrapper .interest-item p {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  #education .section-title h2 {
    font-size: 2rem;
    text-align: start;
  }
  #education .wrapper::before {
    height: 60px;
    width: 60px;
    padding: 0;
    font-size: 1.5rem;
    left: 3px;
  }
  #education .wrapper .education-left {
    margin-right: 5px;
  }
  #education .wrapper .education-left .education-border::before {
    bottom: 198px !important;
    height: 90% !important;
  }
  #education .wrapper .education-right {
    margin-right: 5px;
  }
  #contact #contact-form .btnSend {
    width: 57% !important;
  }
}/*# sourceMappingURL=style.css.map */